In [41]:
import pandas as pd

df = pd.read_csv('All Indices 5LS V_1.1.csv')
df

,Unnamed: 0,Date,Position,Type,Expiry,Index,Contract,Entry Time,Exit Time,Entry Price,Exit Price,Quantity,PnL,Points,ROI,Datetime
0,0,2017-01-05,CLOSED,STRADDLE,2017-01-05,BANKNIFTY,18000CE,09:16:00,15:22:00,58.00,105.30,-166.666667,-7883.333333,-47.30,-0.007883,2017-01-05 09:16:00
1,1,2017-01-05,CLOSED,STRADDLE,2017-01-05,BANKNIFTY,18000PE,09:16:00,15:22:00,50.00,0.05,-166.666667,8325.000000,49.95,0.008325,2017-01-05 09:16:00
2,2,2017-01-05,CLOSED,STRADDLE,2017-01-05,BANKNIFTY,17900PE,09:16:00,15:22:00,18.35,0.05,-167.597765,3067.039106,18.30,0.003067,2017-01-05 09:16:00
3,3,2017-01-05,CLOSED,STRADDLE,2017-01-05,BANKNIFTY,18200PE,09:16:00,15:22:00,192.55,73.45,-164.835165,19631.868130,119.10,0.019632,2017-01-05 09:16:00
4,4,2017-01-05,CLOSED,STRADDLE,2017-01-05,BANKNIFTY,17900CE,09:16:00,15:22:00,117.65,195.00,-167.597765,-12963.687150,-77.35,-0.012964,2017-01-05 09:16:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12869,12869,2023-06-28,CLOSED,STRADDLE,2023-06-28,NIFTY,18950PE,NaN,NaN,10000.00,10000.00,-158.311346,0.000000,0.00,0.000000,NaN
12870,12870,2023-06-28,CLOSED,REBALANCE,2023-06-28,NIFTY,19000CE,NaN,NaN,10000.00,10000.00,-157.894737,0.000000,0.00,0.000000,NaN
12871,12871,2023-06-28,CLOSED,REBALANCE,2023-06-28,NIFTY,19000PE,NaN,NaN,10000.00,10000.00,-157.894737,0.000000,0.00,0.000000,NaN
12872,12872,2023-06-28,CLOSED,REBALANCE,2023-06-28,NIFTY,19050CE,NaN,NaN,10000.00,10000.00,-157.480315,0.000000,0.00,0.000000,NaN
12873,12873,2023-06-28,CLOSED,REBALANCE,2023-06-28,NIFTY,19050PE,NaN,NaN,10000.00,10000.00,-157.480315,0.000000,0.00,0.000000,NaN

In [35]:
import pandas as pd
df['Date'] = pd.to_datetime(df['Date'])
daily_pnl = df.groupby(df['Date'].dt.date)['PnL'].sum().reset_index()

# Rename the columns for clarity
daily_pnl.columns = ['Date', 'Total PnL']

daily_pnl["Date"] = pd.to_datetime(daily_pnl["Date"])
daily_pnl['Trade Year'] = daily_pnl['Date'].dt.year
daily_pnl["ROI"] = daily_pnl["Total PnL"]/10000
# If you want to ensure 'Date' column is in datetime format
daily_pnl['Date'] = pd.to_datetime(daily_pnl['Date'])

# Display the resulting DataFrame
print(daily_pnl)

          Date      Total PnL  Trade Year        ROI
0   2017-01-05   12307.858996        2017   1.230786
1   2017-01-12   14123.588630        2017   1.412359
2   2017-01-19   22752.070533        2017   2.275207
3   2017-01-25 -107865.464333        2017 -10.786546
4   2017-02-02   18876.716383        2017   1.887672
..         ...            ...         ...        ...
467 2024-03-19   43825.696563        2024   4.382570
468 2024-03-20  -74661.617093        2024  -7.466162
469 2024-03-21   16315.220508        2024   1.631522
470 2024-03-26   41330.203443        2024   4.133020
471 2024-03-28 -163761.392905        2024 -16.376139

[472 rows x 4 columns]

In [36]:
# df["Date"] = pd.to_datetime(df["Date"])
# print(type(df["Date"]))
df['Trade Year'] = df['Date'].dt.year
df

,Unnamed: 0,Date,Position,Type,Expiry,Index,Contract,Entry Time,Exit Time,Entry Price,Exit Price,Quantity,PnL,Points,ROI,Datetime,Trade Year
0,0,2017-01-05,CLOSED,STRADDLE,2017-01-05,BANKNIFTY,18000CE,09:16:00,15:22:00,58.00,105.30,-166.666667,-7883.333333,-47.30,-0.007883,2017-01-05 09:16:00,2017
1,1,2017-01-05,CLOSED,STRADDLE,2017-01-05,BANKNIFTY,18000PE,09:16:00,15:22:00,50.00,0.05,-166.666667,8325.000000,49.95,0.008325,2017-01-05 09:16:00,2017
2,2,2017-01-05,CLOSED,STRADDLE,2017-01-05,BANKNIFTY,17900PE,09:16:00,15:22:00,18.35,0.05,-167.597765,3067.039106,18.30,0.003067,2017-01-05 09:16:00,2017
3,3,2017-01-05,CLOSED,STRADDLE,2017-01-05,BANKNIFTY,18200PE,09:16:00,15:22:00,192.55,73.45,-164.835165,19631.868130,119.10,0.019632,2017-01-05 09:16:00,2017
4,4,2017-01-05,CLOSED,STRADDLE,2017-01-05,BANKNIFTY,17900CE,09:16:00,15:22:00,117.65,195.00,-167.597765,-12963.687150,-77.35,-0.012964,2017-01-05 09:16:00,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12869,12869,2023-06-28,CLOSED,STRADDLE,2023-06-28,NIFTY,18950PE,NaN,NaN,10000.00,10000.00,-158.311346,0.000000,0.00,0.000000,NaN,2023
12870,12870,2023-06-28,CLOSED,REBALANCE,2023-06-28,NIFTY,19000CE,NaN,NaN,10000.00,10000.00,-157.894737,0.000000,0.00,0.000000,NaN,2023
12871,12871,2023-06-28,CLOSED,REBALANCE,2023-06-28,NIFTY,19000PE,NaN,NaN,10000.00,10000.00,-157.894737,0.000000,0.00,0.000000,NaN,2023
12872,12872,2023-06-28,CLOSED,REBALANCE,2023-06-28,NIFTY,19050CE,NaN,NaN,10000.00,10000.00,-157.480315,0.000000,0.00,0.000000,NaN,2023
12873,12873,2023-06-28,CLOSED,REBALANCE,2023-06-28,NIFTY,19050PE,NaN,NaN,10000.00,10000.00,-157.480315,0.000000,0.00,0.000000,NaN,2023

In [37]:
df = daily_pnl
stats_ = pd.DataFrame(index=range(2017, 2025), columns=['Total ROI', 'Total Trades', 'Win Rate', 'Avg Profit% per Trade', 'Avg Loss% per Trade', 'Max Drawdown', 'ROI/DD Ratio'])
df['ROI'] = df['ROI']
# Iterate over each year
for year in range(2017, 2025):
    # Filter trades for the current year
    year_trades = df[(df['Trade Year'] == year)]
    
    # Calculate total ROI
    total_roi = year_trades['ROI'].sum()
    
    # Calculate total number of trades
    total_trades = len(year_trades)
    
    # Calculate win rate
    win_rate = (year_trades['ROI'] > 0).mean()*100
    
    # Calculate average profit per trade
    avg_profit = year_trades[year_trades['ROI'] > 0]['ROI'].mean()
    
    # Calculate average loss per trade
    avg_loss = year_trades[year_trades['ROI'] < 0]['ROI'].mean()
    
    # Calculate maximum drawdown
    max_drawdown = (year_trades['ROI'].cumsum() - year_trades['ROI'].cumsum().cummax()).min()
    
    # Calculate ROI/DD ratio
    roi_dd_ratio = total_roi / abs(max_drawdown)
    
    # Store the statistics in the DataFrame
    stats_.loc[year] = [total_roi, total_trades, win_rate, avg_profit, avg_loss, max_drawdown, roi_dd_ratio]

# Calculate overall statistics
overall_total_roi = stats_['Total ROI'].sum()
overall_total_trades = stats_['Total Trades'].sum()
overall_win_rate = (df['ROI'] > 0).mean() * 100
overall_avg_profit = df[df['ROI'] > 0]['ROI'].mean()
overall_avg_loss = df[df['ROI'] < 0]['ROI'].mean()
overall_max_drawdown = (df['ROI'].cumsum() - df['ROI'].cumsum().cummax()).min()
overall_roi_dd_ratio = overall_total_roi / abs(overall_max_drawdown)

# Store the overall statistics in the DataFrame
stats_.loc['Overall'] = [overall_total_roi, overall_total_trades, overall_win_rate, overall_avg_profit, overall_avg_loss, overall_max_drawdown, overall_roi_dd_ratio]
stats_

,Total ROI,Total Trades,Win Rate,Avg Profit% per Trade,Avg Loss% per Trade,Max Drawdown,ROI/DD Ratio
2017,23.633577,50,66.0,1.875968,-2.944106,-10.786546,2.191023
2018,58.520154,51,72.54902,2.390226,-2.137016,-5.955777,9.825779
2019,110.768062,52,69.230769,4.0078,-2.234182,-7.539534,14.691633
2020,65.741197,53,66.037736,4.708135,-5.502418,-49.246828,1.334933
2021,128.172349,52,76.923077,4.47356,-4.230836,-12.412855,10.325775
2022,71.045976,62,66.129032,3.693288,-3.827564,-19.817008,3.585101
2023,42.984682,117,60.683761,2.287597,-2.654104,-20.519592,2.094812
2024,-16.076989,35,65.714286,2.904086,-6.905914,-39.40175,-0.408027
Overall,484.789008,472.0,66.949153,3.224656,-3.561349,-49.246828,9.844066

In [44]:
# Without Slippages - All Indices BNF, NF, FNF , 1.5% away hedges, 9:16 entry, 15:22 sq off

In [42]:
# WITH SLIPPAGES

import pandas as pd
df['Date'] = pd.to_datetime(df['Date'])
slippages = (df['Entry Price'] + df['Exit Price']) * 0.001 * df['Quantity']
df['PnL_w_cs'] = df['PnL'] - abs(slippages)
daily_pnl_2 = df.groupby(df['Date'].dt.date)['PnL_w_cs'].sum().reset_index()

# Rename the columns for clarity
daily_pnl_2.columns = ['Date', 'Total PnL']

daily_pnl_2["Date"] = pd.to_datetime(daily_pnl_2["Date"])
daily_pnl_2['Trade Year'] = daily_pnl_2['Date'].dt.year
daily_pnl_2["ROI"] = daily_pnl_2["Total PnL"]/10000
# If you want to ensure 'Date' column is in datetime format
daily_pnl_2['Date'] = pd.to_datetime(daily_pnl_2['Date'])

# Display the resulting DataFrame
print(daily_pnl_2)

          Date      Total PnL  Trade Year        ROI
0   2017-01-05   12003.057291        2017   1.200306
1   2017-01-12    4501.711544        2017   0.450171
2   2017-01-19   12984.456486        2017   1.298446
3   2017-01-25 -120586.058660        2017 -12.058606
4   2017-02-02   14113.608661        2017   1.411361
..         ...            ...         ...        ...
467 2024-03-19   43674.399661        2024   4.367440
468 2024-03-20  -75537.057998        2024  -7.553706
469 2024-03-21   16104.231648        2024   1.610423
470 2024-03-26   41172.238718        2024   4.117224
471 2024-03-28 -164272.975840        2024 -16.427298

[472 rows x 4 columns]

In [43]:
df = daily_pnl_2
stats_ = pd.DataFrame(index=range(2017, 2025), columns=['Total ROI', 'Total Trades', 'Win Rate', 'Avg Profit% per Trade', 'Avg Loss% per Trade', 'Max Drawdown', 'ROI/DD Ratio'])
df['ROI'] = df['ROI']
# Iterate over each year
for year in range(2017, 2025):
    # Filter trades for the current year
    year_trades = df[(df['Trade Year'] == year)]
    
    # Calculate total ROI
    total_roi = year_trades['ROI'].sum()
    
    # Calculate total number of trades
    total_trades = len(year_trades)
    
    # Calculate win rate
    win_rate = (year_trades['ROI'] > 0).mean()*100
    
    # Calculate average profit per trade
    avg_profit = year_trades[year_trades['ROI'] > 0]['ROI'].mean()
    
    # Calculate average loss per trade
    avg_loss = year_trades[year_trades['ROI'] < 0]['ROI'].mean()
    
    # Calculate maximum drawdown
    max_drawdown = (year_trades['ROI'].cumsum() - year_trades['ROI'].cumsum().cummax()).min()
    
    # Calculate ROI/DD ratio
    roi_dd_ratio = total_roi / abs(max_drawdown)
    
    # Store the statistics in the DataFrame
    stats_.loc[year] = [total_roi, total_trades, win_rate, avg_profit, avg_loss, max_drawdown, roi_dd_ratio]

# Calculate overall statistics
overall_total_roi = stats_['Total ROI'].sum()
overall_total_trades = stats_['Total Trades'].sum()
overall_win_rate = (df['ROI'] > 0).mean() * 100
overall_avg_profit = df[df['ROI'] > 0]['ROI'].mean()
overall_avg_loss = df[df['ROI'] < 0]['ROI'].mean()
overall_max_drawdown = (df['ROI'].cumsum() - df['ROI'].cumsum().cummax()).min()
overall_roi_dd_ratio = overall_total_roi / abs(overall_max_drawdown)

# Store the overall statistics in the DataFrame
stats_.loc['Overall'] = [overall_total_roi, overall_total_trades, overall_win_rate, overall_avg_profit, overall_avg_loss, overall_max_drawdown, overall_roi_dd_ratio]
stats_

,Total ROI,Total Trades,Win Rate,Avg Profit% per Trade,Avg Loss% per Trade,Max Drawdown,ROI/DD Ratio
2017,-29.63581,50,56.0,1.574507,-3.351001,-39.039661,-0.759121
2018,40.469996,51,70.588235,2.197784,-2.576682,-6.894582,5.869826
2019,90.375899,52,67.307692,3.937515,-2.79042,-12.545974,7.203578
2020,41.285496,53,66.037736,4.562475,-6.577841,-62.990436,0.655425
2021,118.078794,52,76.923077,4.340635,-4.628883,-13.604572,8.679346
2022,66.178669,62,66.129032,3.621754,-3.919678,-20.383812,3.246629
2023,27.149524,117,60.683761,2.256161,-2.892128,-34.001024,0.798491
2024,-17.550894,35,65.714286,2.868508,-6.960547,-40.297892,-0.435529
Overall,336.351675,472.0,65.466102,3.135879,-3.881195,-62.990436,5.339726

In [45]:
# With Slippages 0.1% of (Entry + Exit) - All Indices BNF, NF, FNF , 1.5% away hedges, 9:16 entry, 15:22 sq off